*, html {
    margin: 0;
    padding: 0;
}

.container {}

.navbar-container {
    background-color: red;
    width: 100%;
    height: 15vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 18;
}

.li-navbar:hover {
    background-color: tomato;
    transition: .2s ease-in-out;
    border-radius: 2%;
}
.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.content-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: red;
    color: white;
    font-size: large;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 8px 32px 0px rgba(0,0,0,0.66);
                -webkit-box-shadow: 10px 8px 32px 0px rgba(0,0,0,0.66);
                -moz-box-shadow: 10px 8px 32px 0px rgba(0,0,0,0.66);
}

.img-content {
    width: 45% ;
    height: 65%;
}

.footer-container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer {
    font-size: 40px;
    color: white;
}